<div class="container">
	<h1 class="text-center heroes-color">SNS</h1>
	<h5 class="text-center heroes-color heroes-margin">지치지 않는 응원과 함성. 넥센히어로즈의 으뜸 스폰서는 팬 여러분입니다.</h5>
	<div class="sns_width">
	<div class="col-md-9">
	<ul class="heroesSNS">
				<li data-ng-repeat="rows in Sns">
					<a href="{{rows.a_tag}}" target="_blank" title="새 창 열림"><img src="{{rows.fimg}}" alt="{{rows.alt}}" /></a>
					<img data-ng-src="{{rows.simg}}" alt="{{rows.alt2}}" />
					{{rows.text}}
				</li>
				
				
<!-- 				<li> -->
<!-- 					<a href="https://www.facebook.com/heroesbaseballclub/" target="_blank" title="새 창 열림"><img src="resources/images/sns/imgSNS01.png" alt="페이스북" /></a> -->
<!-- 					<img src="resources/images/sns/titSNS01.png" alt="Facebook" /> -->
<!-- 					페이스북에서 넥센히어로즈의 최신사진과 소식을 확인하세요. -->
<!-- 				</li> -->
<!-- 				<li> -->
<!-- 					<a href="https://www.youtube.com/user/heroesbaseballclub/" target="_blank" title="새 창 열림"><img src="resources/images/sns/imgSNS02.png" alt="유튜브" /></a> -->
<!-- 					<img src="resources/images/sns/titSNS02.png" alt="Youtube" /> -->
<!-- 					유투브를 통해 넥센히어로즈의 영상메시지를 구독하세요. -->
<!-- 				</li> -->
<!-- 				<li> -->
<!-- 					<a href="https://www.instagram.com/heroesbaseballclub/" target="_blank" title="새 창 열림"><img src="resources/images/sns/imgSNS04.png" alt="인스타그램" /></a> -->
<!-- 					<img src="resources/images/sns/titSNS04.png" alt="Instagram" /> -->
<!-- 					인스타그램에서 넥센히어로즈의 최신사진과 소식을 확인하세요. -->
<!-- 				</li> -->
<!-- 				<li> -->
<!-- 					<img src="resources/images/sns/imgSNS03.png" alt="히어로즈TV" /></a> -->
<!-- 					HeroesTV 서비스 종료 -->
<!-- 					지금까지 히어로즈 TV를 사랑해주신 팬 여러분, 감사합니다.(2016 시즌까지 서비스될 예정입니다.) -->
<!-- 				</li> -->
			</ul>
			</div>
			</div>


</div>