@CHARSET "UTF-8";

.btn-group2 {
	width : 100%;
}
strong {
	margin-top : 32px;
	display:block;
	margin-bottom:20px;
	padding-bottom:20px;
	color: #820024;
	font-size: 2.167em;
	letter-spacing:-.0625em;
	line-height:1.45;
}
.heroes-margin{
	margin : 0 0 70px 0;
}
.heroes-margin2{
	margin : 70px 0 0 0;
}
.img-cover{
	background-size : cover;
}
p{
	margin-bottom: 25px;
	color:#666;
	font-size: 1.25em;
	line-height: 1.6;
	text-align:justify;
	word-break: keep-all;
}
.heroes-color{
	color:#820024;
}
.btn-default:focus{
	color: #fff;
	background-color: #820024;
	border-color: #820024;
}
.btn-default:hover{
	color: #fff;
	background-color: #820024;
	border-color: #820024;
}
.btn-default:active{
	color: #fff;
	background-color: #820024;
	border-color: #820024;
}
.history-display{
	width: 100%;
	display : block;
	margin : 10px;
}
.margin-right50{
	margin-right : 50px;
}
ul{
	color: #666;
	padding-left : 15px;
	font-size : 1.25em;
	line-height: 1.6;
	text-align : justify;
	word-break: keep-all;
}
h6{
	color: #666;
	font-size : 1.25em;
	line-height: 1.6;
	text-align : justify;
	word-break: keep-all;
	font-weight : bold;
}
/* BI부분 CSS */

#emblem {
    float: left;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 1.085em;
    font-weight: 800;
    font-family: Armata;
    line-height: 1;
}

.pp{
	margin-bottom: 25px;
	color:#666;
	font-size: 1.25em;
	line-height: 1.6;
	word-break: keep-all;
	text-align : center;
}

#mascot-h5 {
    margin-bottom: 8px;
    color: #820024;
    font-size: 2em;
    font-weight: 400;
    line-height: 1;
}

#mascot-strong {
    display: block;
    margin-bottom: 33px;
    color: #666;
    font-size: 1.085em;
    font-weight: 400;
    line-height: 1;
}
#mascot-margin-top{
	margin-top : 125px;
}