@CHARSET "UTF-8";

.btn-group2 {
	width : 100%;
}
strong {
	margin-top : 32px;
	display:block;
	margin-bottom:20px;
	padding-bottom:20px;
	color: #820024;
	font-size: 2.167em;
	letter-spacing:-.0625em;
	line-height:1.45;
}
.heroes-margin{
	margin : 0 0 70px 0;
}
.heroes-margin2{
	margin : 70px 0 0 0;
}
.img-cover{
	background-size : cover;
}
p{
	margin-bottom: 25px;
	color:#666;
	font-size: 1.25em;
	line-height: 1.6;
	text-align:justify;
	word-break: keep-all;
}