<div class="col-md-12 heroes-margin">
	<div class="col-md-12">
		<h5 id="mascot-h5">
			히어로즈 수호로봇 돔돔이
		</h5>
		<strong id="mascot-strong">고척돔 이전 기념 첫 번째 로봇 탄생</strong>
		<h6>
			· 컨셉
		</h6>
		<p>
			국내 첫 번째 돔 구장인 ‘고척돔’으로 홈 구장을 이전한 서울 히어로즈의 기념 로봇이다. 고척돔의 형상을 모티브로 하여 돔형상의 헤드를 가진 기본 사이즈의 로봇은 몸전체가 고척돔으로 변신할 수 있는 빅사이즈 로봇에 탑승 할 수 있다.
		</p>
		<h6>
			· 스토리
		</h6>
		<p>
			2016년 히어로즈의 영웅군단의 첫 번째로 탄생한 로봇 ‘돔돔이’는 고척돔을 형상화한 헤드를 가지고 있는 심플하고 귀여운 로봇이다. 고척돔으로 변신할 수 있는 빅사이즈의 로봇에 탑승하여 슈퍼 돔돔이로 합체 가능하다. 돔돔이는 턱돌이와 동글이를 지켜주고 도움을 주는 수호 로봇이다.
		</p>
		<div class="text-center">
			<img src="resources/images/imgMascot03.jpg">
			<hr>
		</div>
		<div class="col-md-12 text-center">
			<div id="mascot-margin-top" class="col-md-3">
				<img src="resources/images/imgMascot02.jpg">
			</div>
			<div class="col-md-9">
				<h5 id="mascot-h5">
					턱돌이 리뉴얼 및 제2마스코트 동글이 탄생
				</h5>
				<strong id="mascot-strong">2015년 포스트시즌 2년 연속 진출 기념</strong>
				<h6>
					· 컨셉
				</h6>
				<p>
					7번의 시즌 중 2년 연속 포스트시즌 진출로 구단의 강함을 입증. 동글이, 즉 제2마스코트 탄생과 동시에 턱돌이 또한 한층 업그레이드 동글이는 여성과 어린이 팬에게 적극적을 활용될 매력적인 마스코트
				</p>
				<h6>
					· 스토리
				</h6>
				<p>
					2015시즌을 기념하여 탄생된 동글이는 섹시하면서도 귀여운 매력의 소유자로 때론 귀여운 애교를 때론 도도함이 넘친다. 큰 눈에 뾰족한 헬멧, 황금 망토와 글러브, 포수 보호대를 가진 동글이는 투수와 포수의 복합체이며 팀의 승리를 위한 활력을 준다.
				</p>
			</div>
			<div class="col-md-12">
			<hr>
			</div>
		</div>
		<div class="col-md-12 text-center">
			<div class="col-md-9">
				<h5 id="mascot-h5">
					턱돌이 탄생
				</h5>
				<strong id="mascot-strong">2008년 ㈜서울히어로즈 출범</strong>
				<h6>
					· 컨셉
				</h6>
				<p>
					턱돌이는 힘있는 야구를 표방하는 신생구단으로써의 이미지에 적합하게 신선하면서도 강인한 이미지
				</p>
				<h6>
					· 스토리
				</h6>
				<p>
					서울히어로즈의 창립부터 큰 사랑을 받았던 턱돌이(애칭)는 2015년 8번째 시즌을 맞이하여 더욱 강력하게 업그레이드 되었다. 황금 어깨와 배트, 진정한 히어로로 거듭난 그에게서 히어로즈의 막강한 타자의 모습을 볼 수 있다.
활발하고 유쾌한 성격으로 악동이미지를 가지고있지만 히어로즈에 있어서는 승리를 위한 에너지를 발산하는 영웅이다.
				</p>
			</div>
			<div id="mascot-margin-top" class="col-md-3">
				<img src="resources/images/imgMascot01.jpg">
			</div>
			<div class="col-md-12">
			<hr>
			</div>
		</div>
		<div class="col-md-12 text-center">
			<div class="col-md-6">
				<img src="resources/images/imgMascot04.jpg">
			</div>
			<div class="col-md-6">
				<p class="text-center">SD 버전</p>
				<p>
					어린이와 여성 팬들을 위해 히어로즈의 마스코트를 2등신으로 귀엽게 디자인한 버젼
				</p>
			</div>
			<div class="col-md-12">
			<hr>
			</div>
		</div>
		<div class="col-md-12 text-center">
			<p>
				어플리케이션
			</p>
			<img src="resources/images/imgMascot05.jpg">
			<img src="resources/images/imgMascot06.jpg">
		</div>
	</div>
</div>