<div class="container">
	<h1 class="text-center heroes-color">구단 소개</h1>
	<h5 class="text-center heroes-color">모두 함께하는 프로야구를 만들어 갑니다.</h5>
	
	<div class="text-center heroes-margin">
		<p class="btn-group" role="group">
			<input type="button" value="{{rows.text}}" class="btn btn-default btn-lg heroes-color" data-ng-class="{bgActive : rows.toggle}"  data-ng-click="viewDiv($index)" data-ng-repeat="rows in btArry"/>
		</p>
	</div>
	<div class="row">
		<div data-ng-repeat="rows in btArry" id="{{rows.type}}" data-ng-if="rows.toggle">
			<div data-ng-include="rows.html"></div>
		</div>
	</div>
</div>