<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel='stylesheet prefetch' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'> -->
<!--     <link rel="stylesheet" href="resources/css/main.css"> -->
    
</head>
<body>
<div class="body">
<div class="main-app">
  <ul class="main-of">
    <li class="heroes active" onclick="location.href='/#!/Heroes';">
      	<h3>heroes</h3>
      	<em>heroes</em>
    </li>
    
    <li class="players">
      	<h3>players</h3>
      	<em>players</em>
    </li>
    
    <li class="stats" onclick="location.href='/#!/Stats';">
      	<h3>stats</h3>
    	<em>stats</em>
    </li>
    
    <li class="story" onclick="location.href='/#!/Picture';">
    	<h3>story</h3>
    	<em>story</em>
    </li>
    
    <li class="fans">
     	<h3>fans</h3>
    	<em>fans</em>
    </li>
    
    <li class="events" onclick="location.href='/#!/Events';">
      	<h3>events</h3>
    	<em>events</em>
    </li>
  </ul>
</div>
</div>
</body>
</html>