 <div id="top_location"></div>
 <nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs">
    <div class="container">
      <!-- left nav top -->
      <ul class="nav navbar-nav pull-left">
			<li><a href="/#!/Intro" class="text-white">INTRO</a></li>
      </ul>
      <!-- right nav top -->
      <ul class="nav navbar-nav pull-right">
<!--         <li><a href="" class="text-white">MANAGER</a></li> -->
<!--         <li><a href="" class="text-white">LOGOUT</a></li>  -->
      </ul>
    </div>
    <div class="dividline light-grey"></div>
  </nav>
  <!-- down nav -->
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">  
        <div class="navbar-header flex-item">
          <div class="navbar-brand" href="">Nexen Heroes</div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs">
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink"
          	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HEROES</a>
          		<ul class="dropdown-menu navback dropdown-menu-center" aria-labelledby="dropdownMenuLink">
				    <li><a class="dropdown-item" href="/#!/Heroes">구단 소개</a></li>
				    <li><a class="dropdown-item" href="/#!/HeroesBI">구단 BI</a></li>
				    <li><a class="dropdown-item" href="/#!/HeroesGuidance">구장 안내</a></li>
			  	</ul>
          </li>
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="/#!/Players" role="button">PLAYERS</a>
          </li> 
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="/#!/Stats" role="button" id="dropdownMenuLink"
          	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STATS</a>
<!--           		<ul class="dropdown-menu navback dropdown-menu-center" aria-labelledby="dropdownMenuLink"> -->
<!-- 				    <li><a class="dropdown-item" href="">팀 순위</a></li> -->
<!-- 				</ul> -->
          </li>
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink"
          	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STORY</a>
          		<ul class="dropdown-menu navback dropdown-menu-center" aria-labelledby="dropdownMenuLink">
				    <li><a class="dropdown-item" href="/#!/Picture">히어로즈 사진</a></li>
				    <li><a class="dropdown-item" href="/#!/Move">히어로즈 영상</a></li>
				</ul>
          </li>
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="/#!/Sns" role="button" id="dropdownMenuLink"
          	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FANS</a>
<!--           		<ul class="dropdown-menu navback dropdown-menu-center" aria-labelledby="dropdownMenuLink"> -->
<!-- 				    <li><a class="dropdown-item" href="#">자유 게시판</a></li> -->
<!-- 				    <li><a class="dropdown-item" href="#">QnA</a></li> -->
<!-- 				    <li><a class="dropdown-item" href="">SNS</a></li> -->
<!-- 				</ul> -->
          </li>
          <li>
          	<a class="navback btn2 btn-secondary dropdown-toggle" href="/#!/Events" role="button" id="dropdownMenuLink"
          	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EVENTS</a>
<!--           		<ul class="dropdown-menu navback dropdown-menu-center" aria-labelledby="dropdownMenuLink"> -->
<!-- 				    <li><a class="dropdown-item" href="/#!/Events">이벤트 소개</a></li> -->
<!-- 				    <li><a class="dropdown-item" href="#">참여 신청</a></li> -->
<!-- 				</ul> -->
          </li>  
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">
<!--           <li><a href="#" class="">offer!</a></li>  -->
        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-align-justify"></span> 
            </button>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
              	<a class="nav-link dropdown-toggle" href="">HEROES</a>
              	<ul class=" dropdown-menu-center">
	              	<li><a class="dropdown-item" href="/#!/Heroes">구단 소개</a></li>
				    <li><a class="dropdown-item" href="/#!/HeroesBI">구단 BI</a></li>
				    <li><a class="dropdown-item" href="/#!/HeroesGuidance">구장 안내</a></li>
			    </ul>
              </li>
	          <li>
	          	<a class="nav-link dropdown-toggle" href="/#!/Players">PLAYERS</a>
	          </li> 
	          <li>
	          	<a class="nav-link dropdown-toggle" href="/#!/Stats">STATS</a>
	          </li>
	          <li>
	          	<a class="nav-link dropdown-toggle" href="">STORY</a>
	          	<ul class="dropdown-menu-center">
				    <li><a class="dropdown-item" href="/#!/Picture">히어로즈 사진</a></li>
				    <li><a class="dropdown-item" href="/#!/Move">히어로즈 영상</a></li>
				</ul>
	          </li> 
	          <li>
	          	<a class="nav-link dropdown-toggle" href="/#!/Sns">FANS</a>
	          </li> 
	          <li>
	          	<a class="nav-link dropdown-toggle" href="/#!/Events">EVENTS</a>
	          </li>
	          <li role="separator" class="divider"></li>
<!-- 	          <li><a href="">MANAGER</a></li> -->
            </ul>
          </div>
        </div>  
      </div>
    </nav>
  </nav>