<div class="container">
	<h1 class="text-center heroes-color">이벤트 소개</h1>
	<h5 class="text-center heroes-color heroes-margin">넥센히어로즈는 팬들과 함께 할 수 있는 다양한 이벤트를 준비하고 있습니다.</h5>
	<div class="events-width text-center">
		<div class="col-md-9 col-md-9750 text-center">
			<ul class="eventList">		
				<li>
					<div class="right">
						<img src="resources/images/events/d4a12f72-a8c6-4f36-96aa-3ba36660015e.jpg" alt="" />
						<img src="resources/images/events/icoEvent01.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>영웅 프리티셔츠 데이</h4>
						<span>정기행사 : 매월 지정일</span>
						<p><p>매월 1회, 사전 공지된 홈 경기시 [넥센히어로즈의 한정판 티셔츠]를 무료로 히어로즈 팬들에게 증정하는 행사 입니다.&nbsp;</p><p>*선착순 5,000명 증정</p></p>
					</div>
				</li>
				<li>
					<div>
						<img src="resources/images/events/a184fef1-d32c-4eea-9816-2ad52d457e6a.jpg" alt="" />
						<img src="resources/images/events/icoEvent02.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>레이디스 데이</h4>
						<span>정기행사 : 화요일 홈경기</span>
						<p><p>화요일 홈경기에는 모든 여성을 위한 날입니다. 현장에서 에매하는 모든 여성분들에게 2,000원의 할인과 히어로즈샵 현장 구매 10% 할인을 해드리며 여성을 위한 다양한 이벤트를 만나실 수 있습니다.&nbsp;</p><p>* 할인 좌석 : 내야 3,4층</p><p>* 할인 품목 : 유니폼(핑크), 베이직모자(핑크)</p></p>
					</div>
				</li>
				<li>
					<div class="right">
						<img src="resources/images/events/88d93202-baa6-413c-a25a-330157f4809c.jpg" alt="" />
						<img src="resources/images/events/icoEvent03.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>선수 사인회</h4>
						<span>정기행사 : 수요일 홈경기</span>
						<p><p>홈경기가 있는 매주 수요일에는 (4월, 9월 제외) 경기시작 전 선수들에게 사인을 받을 수 있는 행사가 진행됩니다. 현장에서 선착순으로 번호표를 받으신 40명에게는 미리 공지된 선수들을 만날 수 있는 기회를 드립니다.</p></p>
					</div>
				</li>
				<li>
					<div>
						<img src="resources/images/events/7d45c101-9dfa-4371-891c-e4603452510a.jpg" alt="" />
						<img src="resources/images/events/icoEvent04.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>직장인데이</h4>
						<span>정기행사 : 목요일 홈경기</span>
						<p><p>매월 목요일은 직장인 데이로 사전 신청한 단체 직장인들 에게는 음료쿠폰과 응원용품을 드립니다.</p><p>&nbsp;</p><p>* 신청기준 : 15명 이상, 홈 좌석을 예매한 직장 단체</p><p>　선발기준 : 사연, 동영상 신청 등으로 10팀 내외 선발</p></p>
					</div>
				</li>
				<li>
					<div class="right">
						<img src="resources/images/events/e617caeb-6e40-4901-a509-0b1dab7575ae.jpg" alt="" />
						<img src="resources/images/events/icoEvent05.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>클럽데이</h4>
						<span>정기행사 : 매월 지정한 금요일</span>
						<p><p>매월 지정한 금요일은 (9월 제외) 히어로즈 클럽데이 입니다. 야구관람 후 30분간 진행되는 클럽데이는 누구나 핫하게 즐기실 수 있습니다.</p></p>
					</div>
				</li>
				<li>
					<div>
						<img src="resources/images/events/bf78d9fc-06a3-44e9-bbdc-dbd8f6b8911d.jpg" alt="" />
						<img src="resources/images/events/icoEvent06.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>패밀리데이</h4>
						<span>정기행사 : 토요일 홈경기</span>
						<p><p>홈경기가 있는 토요일은 온 가족을 위한 패밀리데이 입니다. 홈페이지에서 그러운드 키즈런을 사전 신청한 어린이는 경기 후 그라운드에서 베이스를 뛰고, 밟을 수 있는 경험을 할 수 있으며, 패밀리 대상의 다양한 이벤트를 통해 풍성한 선물을 드립니다.</p></p>
					</div>
				</li>
				<li>
					<div class="right">
						<img src="resources/images/events/d7c82981-1b94-4333-88e1-b53f7dedb36c.jpg" alt="" />
						<img src="resources/images/events/icoEvent07.png" alt="" class="no" />
					</div>
					<div class="event">
						<h4>마이 히어로 데이</h4>
						<span>정기행사 : 일요일 홈경기</span>
						<p><p>홈경기가 있는 일요일은 우리들의 영웅을 위한 날입니다. 주위에 있는 많은 영웅들에게 감사할 수 있는 시간과 함께 영웅 시구가 진행됩니다. 나의 영웅 시구는 이벤트 게시판을 통해 신청 해주세요.</p></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>