<div>
	<div id="sammi">
		<div class="col-md-12 heroes-margin">
			<div class="col-md-3 image_resize margin-right50">
				<img src="resources/images/sammi.png"/>
			</div>
			<div class="col-md-8">
				<strong class="text-center">1982년 삼미 슈퍼스타즈</strong>
				<p>1982년 2월5일 선수23명으로 인천, 경기도, 강원도 지역을 프랜차이즈로 창단했습니다. 
				창단 첫해 국가 대표급 선수들의 부족으로 15승 65패 0.188이란 한국 프로야구 사상 최악의 성적을 거두며 최하위를 기록했습니다. 
				다음해인 1983년 재일교포 장명부 투수가 30승을 올리는 활약과 더불어 새로 입단한 국가 대표 임호균, 김진우 및 정구선 등의 활약을 통해 전기리그와 후기리그 모두 2위까지 올랐으나, 
				전,후기 1위팀과 격돌하는 한국시리즈에는 진출하지 못했습니다. 1984년 팀은 18연패로 최다연패를 기록하며 하위권에 맴돌았으며, 
				1985년 전기리그가 끝난 후 청보그룹에 매각되어 청보 핀토스가 되었습니다.</p>
				<h6>삼미 슈퍼스타즈 성적 및 주요기록</h6>
				<ul>
					<li>1982년 전체경기 최저승률 기록 (80경기 15승 65패 승률 0.188)</li>
					<li>1982년 후기 최저승률 기록 (40경기 5승 35패 승률 0.125)</li>
					<li>1983년 시즌 종합 3위 (100경기 52승 47패 1무 승률 0.525)</li>
					<li>1984년 시즌 종합 6위 (100경기 38승 59패 3무 승률 0.392)</li>
				</ul>
			</div>
			<hr class="col-md-12">
		</div>
	</div>
	<div id="cheongbo">
		<div class="col-md-12 heroes-margin">
			<div class="col-md-3 image_resize margin-right50">
				<img src="resources/images/cheongbo.jpg"/>
			</div>
			<div class="col-md-8">
				<strong class="text-center">1985년 청보 핀토스</strong>
				<p>청보핀토스는 청보 그룹이 삼미 슈퍼스타즈를 인수해 1985년 5월 1일에 창단한 프로야구단입니다. 
				1985년 후기리그부터 참가하였며 특별한 우승 경력도 포스트 시즌 진출 경력도 갖고 있지 않습니다. 
				1987년 청보그룹이 도산한 후 청보식품이 오뚜기로 이관 되었으며, 
				팀은 시즌 중 태평양화학에 매각되어 1988년 태평양돌핀스로 리그에 참여하게 됩니다.</p>
				<h6>청보 핀토스 성적 및 주요기록</h6>
				<ul>
					<li>1985년 시즌 6위 (110경기 39승 70패 1무 승률 0.358)</li>
					<li>1986년 시즌 6위 (108경기 32승 74패 1무 승률 0.302)</li>
					<li>1987년 시즌 7위 (108경기 41승 65패 2무 승률 0.389)</li>
				</ul>
			</div>
			<hr class="col-md-12">
		</div>
	</div>
	<div id="taepyeongyang">
		<div class="col-md-12 heroes-margin">
			<div class="col-md-3 image_resize margin-right50">
				<img src="resources/images/tae.png"/>
			</div>
			<div class="col-md-8">
				<strong class="text-center">1988년 태평양 돌핀스</strong>
				<p>태평양화학이 청보핀토스를 인수해 1988년 3월 8일에 창단한 태평양돌핀스는 1988년부터 1995년까지 존재했던 프로야구단입니다. 
				1994년 정규시즌 2위를 기록하며 한국시리즈에 진출 했었고, 1989년 정규리그에서 3위를 한 후 준플레이오프와 플레이오프까지 진출했으나 우승경험은 없습니다. 
				1995년 시즌을 마치며 이 해 현대유니콘스로 인수되었습니다.</p>
				<h6>태평양 돌핀스 성적 및 주요기록</h6>
				<ul>
					<li>1989년 시즌 종합 3위 (120경기 62승 54패 4무 승률 0.533)</li>
					<li>1990년 시즌 종합 5위 (120경기 58승 59패 3무 승률 0.496)</li>
					<li>1991년 시즌 종합 5위 (126경기 55승 69패 2무 승률 0.444)</li>
					<li>1992년 시즌 종합 6위 (126경기 56승 67패 3무 승률 0.456)</li>
					<li>1993년 시즌 종합 8위 (126경기 34승 82패 10무 승률 0.310)</li>
					<li>1994년 시즌 종합 2위 (126경기 68승 55패 3무 승률 0.552)</li>
					<li>1995년 시즌 종합 7위 (126경기 48승 73패 5무 승률 0.401)</li>
				</ul>
			</div>
			<hr class="col-md-12">
		</div>
	</div>
	<div id="hyeondae">
		<div class="col-md-12 heroes-margin">
			<div class="col-md-3 image_resize margin-right50">
				<img src="resources/images/unicorns.jpg"/>
			</div>
			<div class="col-md-8">
				<strong class="text-center">1996년 현대 유니콘스</strong>
				<p>1995년 9월 11일 현대가 태평양 돌핀스를 인수하며 창단된 현대유니콘스는 1996년부터 1999년까지 인천 및 경기, 강원 지역을 연고지로 했었으나 2000년 이후에는 서울로 연고지 이전을 계획 중이었고 이전이 완료되기까지 수원구장을 홈구장으로 사용했습니다. 투수왕국이라고 불렸던 현대는 막강한 투수진을 바탕으로 창단 첫 해인 1996년 한국시리즈에 진출하여 준우승을 하였고, 창단 3년 만인 1998년을 시작으로 2000년, 2003년, 2004년 등 무려 네 차례나 한국시리즈에서 우승했습니다. 하지만 2004년 마지막 우승이후 핵심전력들의 이탈과, 재정난이 겹치며 2007년 10월 5일 한화이글스와의 고별경기를 끝으로 팀이 해체되었습니다.</p>
				<h6>태평양 돌핀스 성적 및 주요기록</h6>
				<ul>
					<li>1996년 시즌 종합 4위 (126경기 67승 54패 5무 승률 0.552)</li>
					<li>1997년 시즌 종합 6위 (126경기 51승 71패 4무 승률 0.421)</li>
					<li>1998년 시즌 종합 1위 (126경기 81승 45패 0무 승률 0.643)</li>
					<li>1999년 시즌 종합 5위 (132경기 68승 59패 5무 승률 0.535)</li>
					<li>2000년 시즌 종합 1위 (133경기 91승 40패 2무 승률 0.695)</li>
					<li>2001년 시즌 종합 2위 (133경기 72승 57패 4무 승률 0.558)</li>
					<li>2002년 시즌 종합 3위 (133경기 70승 58패 5무 승률 0.547)</li>
					<li>2003년 시즌 종합 1위 (133경기 80승 51패 2무 승률 0.611)</li>
					<li>2004년 시즌 종합 1위 (133경기 75승 53패 5무 승률 0.586)</li>
					<li>2005년 시즌 종합 7위 (126경기 53승 70패 3무 승률 0.431)</li>
					<li>2006년 시즌 종합 2위 (126경기 70승 55패 1무 승률 0.560)</li>
					<li>2007년 시즌 종합 6위 (126경기 56승 69패 1무 승률 0.448)</li>
				</ul>
			</div>
<!-- 			<hr class="col-md-12"> -->
		</div>
	</div>
</div>
