<div id="history" class="container_body3">
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" data-ng-click="toggleCustom2016()">2016 서울히어로즈 프로야구단</button>
	<div id="2016" data-ng-hide="custom2016">
		<div>
            <img src="resources/images/history/imgHistory2016A.jpg" alt="국내 최초 돔구장, 고척 스카이돔에서 시즌 개막" class="alignLeft"/>
            <h6>국내 최초 돔구장, 고척 스카이돔에서 시즌 개막</h6>
            <p>대한민국 프로야구가 드디어 돔구장 시대를 열었습니다. 넥센히어로즈는 2008년 창단 시부터 사용했던 목동야구장에서 국내 최초 돔구장인 고척 스카이돔으로 홈구장을 이전했고, 지난 2016년 4월1일 롯데자이언츠와 개막전을 치렀습니다. 고척 스카이돔에서는 날씨와 상관없이 언제든 경기를 진행 할 수 있고, 찾아주신 팬 분들도 쾌적한 환경에서 경기를 관람할 수 있었습니다. 또한 돔구장의 이점을
              	살리고 부각시킬 수 있는 다양한 이벤트도 진행해 좋은 반응을 얻었습니다. 넥센히어로즈는 고척 스카이돔에서의 첫 시즌을 성공적으로 마친 만큼 지속적으로 더 나은 이벤트와 서비스를 제공하기위해 노력하고 있습니다.</p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016B.jpg" alt="효자 용병 밴 헤켄의 리턴" class="alignRight"/>
            <h6>효자 용병 밴 헤켄의 리턴</h6>
            <p>2015시즌을 마치고 일본 프로야구로 무대를 옮긴 밴 헤켄이 다시 돌아왔습니다. 지난 2016년 7월 22일 밴 헤켄은 연봉, 계약금 없이 옵션 10만불에 넥센히어로즈와 계약을 체결했습니다. 밴 헤켄은 NPB로 가기 전 KBO리그에서 4년 연속 두 자릿 수 승수를 기록하며 다승왕과 골든글러브 등을 수상한 에이스 투수였습니다. 친정 팀으로 돌아온 뒤에도 빠른 적응력으로 올 시즌 12경기에 출전 7승 3패 평균자택점 3.38을 기록, 여전히
              		출중한 기량을 보여주며 팬 분들의 기대에 부응했습니다.
           	</p>
         	</div>
          	<div>
            <img src="resources/images/history/imgHistory2016C.jpg" alt="신재영, 박주현, 박정음 등 전력공백 메울 신예 등장" class="alignLeft"/>
            <h6>신재영, 박주현, 박정음 등 전력공백 메울 신예 등장</h6>
            <p>2016시즌이 시작되기 전 야구 전문가들은 주축 선수가 대거 이탈한 넥센히어로즈의 올 시즌 성적을 하위권으로 내다봤습니다. 팬 분들 또한 그동안 보여준 저력을 2016시즌에도 이어가긴 어려울 것이라고 전망했습니다. 하지만 이러한 시즌 초 분위기는 선수단을 하나로 뭉치게 했습니다. 심기일전하며 2016시즌을 준비한 선수단과 프런트는 전문가들의 예상을 완전히 빗나가게 했습니다. 공백 선수를 메울
              	신예들이 대거 등장했고, 기존 선수들의 활약은 더욱 물올랐습니다. 특히 신재영은 데뷔시즌인 올해 15승을 기록, 팀의 에이스로 활약했고, 신인 박주현 역시 선발과 불펜에서 좋은 모습을 보여주며 올 시즌을 더욱 기대하게 만들었습니다. 타자 중에서는 박정음과 고종욱이 돋보였습니다. 비록 박정음은 시즌 중 부상을 당했지만 빠른 발과 정교한 타격으로 3할 타율, 16개의 도루를 기록했고, 고종욱 역시 3할 타율, 28개의 도루를 기록하며 팀 타선에
              	힘을 불어 넣었습니다.</p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016D.jpg" alt="네 시즌 연속 포스트시즌 진출" class="alignRight"/>
            <h6>네 시즌 연속 포스트시즌 진출</h6>
            <p>넥센히어로즈는 2013시즌을 시작으로 2016시즌에도 포스트시즌에 진출하며, 4년 연속 가을야구를 경험했습니다. 약한 전력이라는 시즌 초 전망에도 불구하고 선수들은 자신의 위치에서 최선의 플레이를 보여줬고, 그 결과 돔구장 이전 첫해인 2016시즌 포스트 시즌 진출이라는 의미 있는 기록을 세웠습니다.
            </p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016E.jpg" alt="신재영 신인왕 수상" class="alignLeft"/>
            <h6>신재영 신인왕 수상</h6>
            <p>신재영 선수가 올 시즌 최고의 활약을 펼치며 신인왕을 수상 했습니다. 넥센히어로즈가 창단 된 후 구단에서 배출한 신인왕은 2012년 서건창 이후 두 번째입니다. 시즌 초 30.2이닝 연속 무볼넷 피칭을 펼치며 모두를 깜짝 놀라게 만든 신재영은 올 시즌 30경기에 등판에 15승 7패 평균자책점 3.90을 기록, 신인왕 후보 가운데 독보적인 활약을 펼쳤습니다. 덕분에 팀 역대 최고 인상률인 307.4%의 연봉 인상률을 기록, 1억1천만원에 올
              	시즌 연봉 계약을 체결하며 억대 연봉에 진입하기도 했습니다.
            </p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016F.jpg" alt="서건창 골든글러브 수상" class="alignRight"/>
            <h6>서건창 골든글러브 수상</h6>
            <p>주장으로서 선수단을 이끈 서건창이 2016년 12월13일 ‘2016 골든글러브 시상식’에서 서건창은 2루수 부문 골든 글러브를 수상했습니다. 2012년, 2014년에 이어 생애 3번째 수상입니다. 서건창은 지난 시즌 140경기에 출전해 타율 0.325 182안타 26도루로 안타 전체 5위 도루 전체 6위에 이름을 올렸습니다. 서건창은 수상 소감으로“팬들의 힘이 있었기 때문에 넥센이 여기까지 달릴 수 있었다”며 열정적으로 응원해 주시는 팬
              	분들께 감사 인사를 전하기도 했습니다.</p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016G.jpg" alt="이보근, 김세현 생애 첫 타이틀 수상" class="alignLeft"/>
            <h6>이보근, 김세현 생애 첫 타이틀 수상</h6>
            <p style="margin-left:248px;">군복무를 마친 후 이보근은 2016시즌 팀에 복귀해 필승조에서 맹활약하며 5승 7패 25홀드를 기록했습니다. KBO리그 선수 가운데 가장 많은 홀드를 기록한 이보근은 데뷔 12년만에 처음으로 ‘홀드왕’이라는 개인 타이틀을 거머쥐었습니다. 풀타임 마무리 첫해를 치른 김세현은 36세이브를 기록하며 세이브왕을 수상했습니다. 150km/h 대의 강속구를 던지며 뒷문을 책임진 김세현은 부담감이 큰
              	중책을 맡았음에도 불구하고 2점 중반대의 평균자책점과 이닝 당 1.01개 볼넷을 기록하는 등 안정감 있는 피칭을 선보였습니다.
            </p>
         	</div>
         	<div>
            <img src="resources/images/history/imgHistory2016H.jpg" alt="장정석 신임 감독 선임" class="alignRight"/>
            <h6>장정석 신임 감독 선임</h6>
            <p>넥센히어로즈는 2017시즌을 이끌어 갈 선수단의 수장으로 장정석 신임 감독을 선임했습니다. 장정석 신임 감독은 현대유니콘스-KIA타이거즈에서 선수생활을 했고, 은퇴 이후 오랜 기간 프런트로 근무하며 풍부한 경험을 쌓았습니다. 신임감독을 보좌할 수석코치에는 타격코치로 활약한 심재학 코치를 선임했습니다. 구단의 고유 시스템을 이해하고 있고, 그동안 지근거리에서 선수단을 지켜봐온 장정석 신임 감독과 오랜 코치 경험으로 선수단의 신뢰를 받고 있는
              	심재학 수석 코치 체재가 올 시즌 어떤 모습을 보여줄지 기대가 됩니다.</p>
         	</div>
      	</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" data-ng-click="toggleCustom2015()">2015 서울히어로즈 프로야구단</button>
	<div id="2015" data-ng-hide="custom2015">
		<div>
           	<img src="resources/images/history/imgHistory2015A.jpg" alt="고척 스카이돔 이전관련 양해각서 체결" class="alignLeft"/>
           	<h6>고척 스카이돔 이전관련 양해각서 체결</h6>
           	<p>넥센히어로즈는 지난 10월5일(월) 서울시청에서 고척 스카이돔 이전과 관련한 양해각서를 체결했습니다. 이날 이장석 대표이사와 박원순 서울시장이 직접 체결한 양해각서는 넥센히어로즈가 2016시즌부터 2년간 고척스카이돔을 홈구장으로 사용하며, 서울시는 넥센히어로즈의 안정적인 경기 개최를 위해 지원하고 협조한다는 내용이 담겨있습니다. 이장석 대표이사는 “양해 각서를 통해 내년 시즌 경기를 고척스카이돔에서 개최하는 것이 결정됐다. 서울시와의
             	상호신뢰를 유지하며 서로 상생할 수 있는 선순환 구조를 만들겠다”고 소감을 밝혔습니다.</p>
         	</div>
        <div>
        	<span class="alignRight">
           	<a href="https://www.youtube-nocookie.com/embed/TZKDPr0KD1k?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2015B.jpg" alt="박병호, 올해의 '내가 나를 이겼다'"/></a>
             	<br>
             	[다시보는 2015시즌] 박병호,
             	<br/>올해의 '내가 나를 이겼다'
           </span>
           <h6>박병호 4년 연속 홈런왕</h6>
           <p>박병호 선수가 2012시즌 31홈런, 2013시즌 37홈런, 2014시즌 52홈런 그리고 2015시즌 53홈런을 기록하며 4년 연속 홈런왕에 올랐습니다. 특히 올 시즌은 53개의 홈런을 때려내며, 개인 최다이자 2년 연속 50홈런이라는 대기록을 달성했습니다. 박병호 선수의 홈런 쇼가 메이저리그에서도 이어가길 기대해 봅니다.</p>
           <h6>박병호 메이저리그 진출</h6>
           <p>넥센히어로즈 4번 타자 박병호 선수가 MLB 구단인 미네소타 트윈스와 계약을 체결하며 메이저리그에 진출했습니다. 지난해 피츠버그 파이어러츠에 입단한 강정호에 이어 팀에선 두 번째 메이저리거가 탄생한 순간 이었습니다. 박병호의 불방망이가 메이저리그에서도 통하길 기대해 봅니다.
           </p>
        </div>
        <div>
           <img src="resources/images/history/imgHistory2015C.jpg" alt="3년 연속 포스트시즌 진출" class="alignLeft"/>
           <h6>3년 연속 포스트시즌 진출</h6>
           <p>넥센히어로즈가 3년 연속 포스트시즌에 진출했습니다. 넥센히어로즈는 2015시즌부터 새롭게 도입된 와일드카드 결정전에서 SK와이번스를 꺽고 준플레이오프에 올랐지만 두산베어스에 패하며 고배를 마셨습니다. 하지만 끝까지 포기하지 않고 최선을 다하는 모습을 보여주며 팬들에게 기쁨과 감동을 선사했습니다.
           </p>
        </div>
        <div>
        	<img src="resources/images/history/imgHistory2015D.jpg" alt="넥센타이어와 메인스폰서 연장계약 체결" class="alignLeft"/>
           <h6>넥센타이어와 메인스폰서 연장계약 체결</h6>
           <p>지난 11월5일 넥센타이어와 메인스폰서십 연장 계약을 체결했습니다. 이날 계약을 체결한 이장석 대표는 “더 높은 목표를 향해 최선을 다 할 것이며, 양사가 기업 대 기업의 관계를 떠나 함께하는 동반자 관계로 영광을 나누고 싶다”고 소감을 밝혔습니다.
           </p>
        </div>
        <div>
           <img src="resources/images/history/imgHistory2015E.jpg" alt="화성히어로즈 외국인 코칭스태프 영입" class="alignRight"/>
           <h6>화성히어로즈 외국인 코칭스태프 영입</h6>
           <p>넥센히어로즈 퓨처스팀인 화성히어로즈가 코칭스태프 라인을 전면 개편했습니다. 현재 전략적 파트너십을 맺고 있는 보스턴레드삭스의 조언과 리서치를 통해 메이저리그식 팜 시스템을 구축한 것입니다. 새로운 육성 시스템 도입과 함께 퓨처스팀을 총괄할 필드코디네이터로 뉴욕양키스 출신의 쉐인 스펜서를 영입했고, 투수 코디네이터로 브랜든 나이트, 투수 인스트럭터로 데럴 마데이, 배터리 코치로 아담 도나치를 각각 선임했습니다.</p>
        </div>
        <div>
        	<span class="alignLeft">
            <a href="https://www.youtube-nocookie.com/embed/dW8hI1f4qTc?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2015F.jpg" alt="서건창 2016시즌 신임 주장으로 선임"/></a>
            <br>
            [애리조나 이야기]넥센의 뉴
            <br/>캡틴 서건창의 올 시즌 목표는?
           </span>
           <h6>서건창 2016시즌 신임 주장으로 선임</h6>
           <p>서건창 선수가 2016시즌부터 팀을 이끌어가 새 주장으로 선임 됐습니다. 서건창 선수는 “주장이라는 직책이 무거운 책임감이 따르는 자리다. 걱정도 되고 긴장도 되지만 한편으로 설레기도 하다. 젊은 유망주들이 많은 팀인 만큼 선배의 역할이 중요하다. 더욱 솔선수범하고 팀을 먼저 생각하는 마음으로 새 시즌을 보내겠다”고 소감을 밝혔습니다.</p>
         </div>
	</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" data-ng-click="toggleCustom2014()">2014 서울히어로즈 프로야구단</button>
	<div id="2014" data-ng-hide="custom2014">
		<div>
            <img src="resources/images/history/imgHistory2014A.jpg" alt="역대 세 번째 50홈런 타자 탄생" class="alignRight" style="margin-left:15px;"/>
            <h6>역대 세 번째 50홈런 타자 탄생</h6>
            <p>지난 2014년 10월 14일 사직에서 펼쳐진 롯데와의 경기. 이날 4번 타자로 선발 출전한 박병호가 6대1로 앞선 5회 초 상대투수 김사율의 커브를 받아쳐 투런포를 쏘아 올렸습니다. 경기 전까지 그의 홈런 수는 49개. 이날 홈런으로 드디어 11년 만에 역대 세 번째(이승엽, 심정수) 50홈런 타자가 나왔습니다. 하지만 여기서 끝이 아니었습니다. 50호에 이어 51호 홈런까지 터뜨리며 절정의 타격감을 이어간 박병호는 다음날인 15일 같은
              	장소에서 펼쳐진 시즌 마지막 원정경기에서 52번째 홈런을 때려냈습니다. 3년 연속 홈런왕 확정. 그는 스스로 KBO 대표 거포임을 증명해 냈습니다.</p>
         	</div>
         	<div>
            <span class="alignLeft">
             		<a href="https://www.youtube-nocookie.com/embed/lJLXb6_VmPM?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2014B.jpg" alt="2014 KBO리그 최고의 이슈 메이커 서건창"/></a>
             		<br>
            		[141007] 시즌 190안타 달성!<br/>서건창선수!
            </span>
            <h6>2014 KBO리그 최고의 이슈 메이커 서건창</h6>
            <p style="margin-left:179px;">부동의 톱타자 서건창이 롯데 이종운 코치가 보유하고 있던 한 시즌 최다 3루타를 경신했습니다. 2014년 9월6일 목동 롯데전. 1번 타자 서건창은 6회 말 15번째 3루타를 기록하며, 한 시즌 최다 3루타를 기록했습니다. 탄력을 받은 그의 신기록 행진은 계속 이어졌습니다. 10월11일 문학 SK전에는 로티노의 적시타 때 홈을 밟으며 129득점을 기록, 종전 이승엽이 세운 한 시즌 최다득점을
		              넘어섰습니다. 신기록 행진의 하이라이트는 10월17일 목동 SK전에 나왔습니다. 이미 한 시즌 최다안타를 넘은 서건창은 마의 200안타 고지에 단 하나의 안타만을 남겨둔 상황이었습니다. 팬들의 응원과 동료들의 기대 속에 1회 첫 타석부터 2루타를 때려냈고, 한 시즌 200안타라는 놀라운 기록을 달성했습니다. 8회 2루타를 더해 201안타로 시즌을 마감한 서건창은 그 해 최다안타, 최다득점, 최다3루타, 최다2루타 등 다양한 신기록을 수립하며
		              타격왕에 올랐습니다.</p>
         </div>
         <div>
           <span class="alignLeft">
           	<a href="https://www.youtube-nocookie.com/embed/zV09hZW1JPo?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2014C.jpg" alt="홈런 치는 유격수 강정호의 커리어하이 시즌"/></a>
           	<br>
            [특별시상식] 강정호 선수,
            <br/>개인통산 '100호 홈런'
           </span>
           <h6>홈런 치는 유격수 강정호의 커리어하이 시즌</h6>
           <p style="margin-left:179px;">동 포지션에서는 대적할 선수가 없는 국가대표 유격수 강정호가 최고의 한해를 보냈습니다. 체력 소모가 많은 수비포지션인 유격수를 맡으면서도 홈런을 펑펑 때려냈습니다. 올 시즌 종지부를 찍는 그의 마지막 홈런은 정규시즌 마지막 경기에 나왔습니다. 10월17일 목동 SK전 홈 최종전에 5번 타자로 선발 출전한 강정호는 1회 말 상대투수 채병용의 커브를 받아쳐 우월 투런포를 만들었습니다. 이
             	홈런으로 역대 유격수 최초이다 국내 선수로는 7번째 40홈런 타자가 탄생했습니다.</p>
         </div>
         <div>
          <img src="resources/images/history/imgHistory2014D.jpg" alt="믿어 의심치 않는 밴헤켄의 믿기지 않는 성적" class="alignRight"/>
          <h6>믿어 의심치 않는 밴헤켄의 믿기지 않는 성적</h6>
          <p>올 시즌 팀의 에이스 밴헤켄은 믿기지 않는 성적을 냈습니다. 차곡차곡 승수를 쌓더니 어느새 20승에 단 1승만을 남겨 두었습니다. 그에게 마지막 등판 기회가 주어졌습니다. 2014년 10월14일 사직 롯데전에 시즌 마지막 선발투수로 등판한 밴헤켄은 늘 그렇듯 자신의 별명 ‘밴무원’답게 6이닝 1실점으로 안정감 있는 피칭을 선보이며, 승리를 챙겼습니다. 이날 승리로 역대 7번째 20승 투수가 탄생했고, 외국인으로는 리오스 이후 두 번째
            	선수가 되었습니다. 하지만 무엇보다 기억에 남았던 건 경기 직후 인터뷰였습니다. “선발 등판 때마다 동료들의 도움이 컸다. 좋은 팀에서 뛴 덕분에 20승을 달성했다” 20승이라는 성적은 어쩌면 그에게 당연한 결과였을지도 모릅니다.</p>
         </div>
         <div>
          <h6>2014 인천아시안게임 국가대표 발탁</h6>
          <p>무려 4명. 2014 인천아시안게임 야구 대표팀에는 넥센 선수들이 즐비했습니다. 우리나라 대표 유격수 강정호를 비롯해 생애 첫 태극마크를 단 김민성, 최연소 홀드왕 출신 한현희 그리고 국가대표를 이끌어 갈 뉴 캡틴 박병호까지. 각 구단에서 절정의 기량을 자랑하는 선수들도 꾸려진 대한민국 대표팀은 경기마다 승리하며 감격의 금메달을 획득했습니다. 현역으로 군 생활을 마친 박병호와 이미 병역 혜택을 받은 강정호를 제외한 나머지 두 선수가
            	누구보다 기쁘지 않았을까 생각됩니다.</p>
         </div>
         <div>
          <img src="resources/images/history/imgHistory2014E.jpg" alt="창단 첫 플레이오프 직행, 한국시리즈 진출" class="alignLeft"/>
          <h6>창단 첫 플레이오프 직행, 한국시리즈 진출</h6>
          <p style="margin-left:179px;">창단 첫 포스트시즌에 진출했던 2013시즌. 하지만 단기전의 경험이 전무 했던 우리는 쓰라린 패배를 맛볼 수밖에 없었습니다. 하지만 쓰라린 실패에도 소득은 있었습니다. 칼을 갈고 맞은 2014시즌 한 팀을 이룬 선수들은 대기록을 만들어내며 정규시즌을 2위로 마쳤습니다. 창단 첫 플레이오프 직행. 지난 가을야구의 경험을 살려 플레이오프에서 승리를 이루었습니다. 우리의 목표를 이루기 위한 마지막
            	관문인 한국시리즈. 너무나 잘 싸웠지만 승리의 여신은 우리의 손을 들어주지 않았습니다. 아쉬운 패배 뒤 돌아서 흘렸던 그 때의 눈물을 기억하며 2015시즌 우승을 쟁취하기 위해 더 달려야 할 것 같습니다.</p>
         </div>
         <div>
          <h6>팀 3년 연속 MVP 배출</h6>
          <p>2014시즌 MVP는 정규시즌 201안타라는 엄청난 기록을 달성한 서건창에게 돌아갔습니다. 2012-13시즌 2년 연속 MVP를 수상한 박병호도 올 시즌 52홈런을 기록하며 MVP급 활약을 했습니다. 3년 연속 MVP 스타를 배출한 넥센은 올 시즌 연말 시상식에 많은 수상자를 배출했습니다.</p>
         </div>
         <div>
         	<span class="alignLeft">
            <a href="https://www.youtube-nocookie.com/embed/FRgqEJxSzKs?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2014F.jpg" alt="팀 역대 최다 골든글러브 수상"/></a>
            <br>
            [시상식] 2014 한국야쿠르트
            <br/>세븐 프로야구 MVP, 신인왕 및<br/>각부문별 시상
           </span>
           <h6>팀 역대 최다 골든글러브 수상</h6>
           <p>위대한 시즌을 보낸 넥센히어로즈가 골든글러브 시상식에서 팀 사상 최다 수상자를 배출하며 2014년 피날레를 장식했습니다. KBO리그 최초 200안타를 친 서건창은 2루수 부문, 50홈런 타자 박병호는 1루수 부문, 유격수 최초 40홈런을 기록한 강정호는 유격수 부문, 20승 투수 밴헤켄이 투수 부문에서 각각 골든 글러브를 수상했습니다. 10개의 트로피 중 4개를 쓸어담은 넥센 선수들. KBO리그 마지막 축제인 골든글러브는 넥센의 잔칫날
             	이었습니다.</p>
         </div>
         <div>
         	<span class="alignLeft">
           	<a href="https://www.youtube-nocookie.com/embed/fuhO5Ir-ALQ?rel=0&autoplay=1" target="_blank" title="동영상이 자동 재생 됩니다"><img src="resources/images/history/imgHistory2014G.jpg" alt="강정호 KBO리그 최초 내야수로 메이저리그 직행"/></a>
            <br>
            [넥센히어로즈] 강정호선수
            <br/>출국 현장 스케치
           </span>
           <h6>강정호 KBO리그 최초 내야수로 메이저리그 직행</h6>
           <p>강정호가 KBO리그 최초 내야수로 메이저리그에 직행했습니다. 강정호는 MLB 구단 피츠버그 파이어러츠와 최대 계약기간 5년 총액 1,600만 달러에 계약을 완료했습니다. 계약 직후 강정호는 “기회를 준 친정팀 넥센에게 감사하다”고 전했습니다. KBO리그 무대에서 보여줬던 것만큼 MLB리그 에서도 좋은 모습을 보여주길 기대해 봅니다.</p>
         </div>
	</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" data-ng-click="toggleCustom2013()">2013 서울히어로즈 프로야구단</button>
	<div id="2013" data-ng-hide="custom2013">
		<div>
           	<h6>창단 첫 포스트시즌 진출</h6>
           	<p>넥센히어로즈가 지난 시즌 창단 처음으로 포스트시즌에 진출했습니다. 넥센은 정규시즌에서 72승 54패 2무 승률 0.571을 기록하며 4위에 오르며 3위 두산베어스와 준플레이오프를 치렀습니다. 2경기 연속 승리이후 남은 경기를 모두 내주며 아쉽게 탈락했지만, 마지막 5차전 0대3으로 뒤지고 있던 9회말 2아웃에 박병호 선수가 만든 드라마같은 3점 홈런은 오래토록 기억될 것 같습니다.</p>
       	</div>
       	<div>
            <img src="resources/images/history/imgHistory2013A.jpg" alt="박병호 2년 연속 MVP 수상 / 박병호, 강정호, 손승락 골든글러브 수상" class="alignLeft"/>
            <h6>박병호 2년 연속 MVP 수상</h6>
            <p>박병호 선수가 2012-2013 2년 연속 MVP를 수상하며 자타공인 대한민국 최고의 4번타자임을 증명했습니다. 2013시즌 박병호 선수는 전경기 출장하여 450타수 143안타 37홈런 117타점 91득점 10도루를 기록했습니다</p>
            <h6>박병호, 강정호, 손승락 골든글러브 수상</h6>
            <p>2013 골든글러브 시상식에서 넥센이 무려 3개 부문에서 골든글러브를 수상하였습니다. 박병호 선수가 2년 연속 1루수 부문 골든 글러브를 수상했고, 강정호 선수가 2년 연속이자 개인 3번째 유격수 부문 골든 글러브를 수상했습니다. 손승락 선수도 마무리 투수로서 투수 부문 골든글러브를 차지했습니다.</p>
       	</div>
       	<div>
            <img src="resources/images/history/imgHistory2013B.jpg" alt="히어로즈 리틀야구대회 / 주부야구특공대 4기 선발" class="alignRight"/>
            <h6>히어로즈 리틀야구대회</h6>
            <p>히어로즈는 '서울 히어로즈기 전국 리틀 야구대회'를 매년 개최하였고, 앞으로도 아마야구 발전과 야구 꿈나무 육성을 위한 노력을 지속적으로 해 나갈 것입니다.</p>
            <h6>주부야구특공대 4기 선발</h6>
            <p>주부야구특공대는 목동지역에 거주하는 주부들로 구성 된 열혈야구팬으로 매년 선발하고 있으며, 구장투어를 비롯해 기초적인 야구 용어 및 규칙, 상식 등을 배우는 야구 프로그램입니다. 프로그램에 참가하는 주부들과 프로그램을 이수한 주부들에게는 여러 가지 혜택을 제공하고 있어 인기가 많습니다.</p>
       	</div>
       	<div>
            <img src="resources/images/history/imgHistory2013C.jpg" alt="보스턴 레드삭스와 업무협약 실시" class="alignLeft"/>
            <h6>보스턴 레드삭스와 업무협약 실시</h6>
            <p>넥센히어로즈는 지난 1월 2013 월드시리즈 챔피언팀인 보스턴레드삭스와 전략적 파트너십을 체결했습니다. 양 구단은 전략적 파트너십을 통해 팜 시스템 구축 노하우와 운영방식, 세이버 매트릭스, 선수 분석 및 평가 시스템, 트레이닝 기범 등 현재 보스턴레드삭스가 실행중인 선진 기법 등을 직접 전수받기로 합의했습니다.</p>
       	</div>
       	<div>
            <h6>넥센타이어 메인스폰서 재계약</h6>
            <p>넥센히어로즈는 지난 9월 서울 방배동 넥센타이어 사무소에서 넥센타이어와 2015년까지 메인스폰서십 계약 연장에 따른 체결식을 실시했습니다. 지난 2010년 넥센타이어와 2년간 메인스폰서십을 체결한 넥센은 2011년 2년 연장했었던 것에 이어 이번에 2년 연장 계약을 체결함으로써 2015년까지 동반자 관계를 계속 하게 되었습니다.</p>
       	</div>
       	<div>
            <h6>화성히어로즈 출범</h6>
            <p>넥센히어로즈가 경기도 화성시와 '화성히어로즈 베이스볼 파크' 건설에 공동 투자, 올 시즌부터 넥센히어로즈 2군 팀명을 화성히어로즈로 명명하고 기존 강진 베이스볼 파크에서 경기도 화성시 비봉면에 위치한 화성히어로즈 베이스볼 파크로 이전했습니다. 대한민국 1,2군 통틀어 프로야구 최초로 지역 명을 팀명으로 명명한 이번 시도에서 넥센히어로즈는 2군 프렌차이즈인 화성시와 긴밀한 협조를 통해 퓨처스 리그의 활성화를 기대하고 있습니다.</p>
       	</div>
	</div>
</div>