			<div>
				<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleCustom2016()">2016 서울히어로즈 프로야구단</button>
					<div id="2016" ng-hide="custom2016">
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 img-cover margin-right50">
								<img class="img-cover" src="resources/images/sky-dome-iloveimg-resized.jpg"/>
							</div>
							<div class="col-md-5 text-center">
								<strong>국내 최초 돔구장,<br> 고척 스카이돔에서 시즌 개막</strong>
								<p>대한민국 프로야구가 드디어 돔구장 시대를 열었습니다.<br>
								 넥센히어로즈는 2008년 창단 시부터 사용했던 목동야구장에서 국내 최초 돔구장인 고척 스카이돔으로 홈구장을 이전했고, 지난 2016년 4월1일 롯데자이언츠와 개막전을 치렀습니다. 고척 스카이돔에서는 날씨와 상관없이 언제든 경기를 진행 할 수 있고, 찾아주신 팬 분들도 쾌적한 환경에서 경기를 관람할 수 있었습니다.<br>
								  또한 돔구장의 이점을 살리고 부각시킬 수 있는 다양한 이벤트도 진행해 좋은 반응을 얻었습니다.<br> 넥센히어로즈는 고척 스카이돔에서의 첫 시즌을 성공적으로 마친 만큼 지속적으로 더 나은 이벤트와 서비스를 제공하기위해 노력하고 있습니다.</p>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 text-center">
								<strong>효자 용병 밴 헤켄의 리턴</strong>
								<p>2015시즌을 마치고 일본 프로야구로 무대를 옮긴 밴 헤켄이 다시 돌아왔습니다. 지난 2016년 7월 22일 밴 헤켄은 연봉, 계약금 없이 옵션 10만불에 넥센히어로즈와 계약을 체결했습니다. 밴 헤켄은 NPB로 가기 전 KBO리그에서 4년 연속 두 자릿 수 승수를 기록하며 다승왕과 골든글러브 등을 수상한 에이스 투수였습니다. 친정 팀으로 돌아온 뒤에도 빠른 적응력으로 올 시즌 12경기에 출전 7승 3패 평균자택점 3.38을 기록, 여전히 출중한 기량을 보여주며 팬 분들의 기대에 부응했습니다.</p>
							</div>
							<div class="col-md-5 img-cover margin-right50">
								<img class="img-cover" src="resources/images/ben.jpg"/>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 img-cover margin-right50">
								<img class="img-cover" src="resources/images/sinpark-iloveimg-resized.jpg"/>
							</div>
							<div class="col-md-5 text-center">
								<strong>신재영, 박주현, 박정음 등 전력공백 메울 신예 등장</strong>
								<p>2016시즌이 시작되기 전 야구 전문가들은 주축 선수가 대거 이탈한 넥센히어로즈의 올 시즌 성적을 하위권으로 내다봤습니다. 팬 분들 또한 그동안 보여준 저력을 2016시즌에도 이어가긴 어려울 것이라고 전망했습니다. 하지만 이러한 시즌 초 분위기는 선수단을 하나로 뭉치게 했습니다. 심기일전하며 2016시즌을 준비한 선수단과 프런트는 전문가들의 예상을 완전히 빗나가게 했습니다. 공백 선수를 메울 신예들이 대거 등장했고, 기존 선수들의 활약은 더욱 물올랐습니다. 특히 신재영은 데뷔시즌인 올해 15승을 기록, 팀의 에이스로 활약했고, 신인 박주현 역시 선발과 불펜에서 좋은 모습을 보여주며 올 시즌을 더욱 기대하게 만들었습니다. 타자 중에서는 박정음과 고종욱이 돋보였습니다. 비록 박정음은 시즌 중 부상을 당했지만 빠른 발과 정교한 타격으로 3할 타율, 16개의 도루를 기록했고, 고종욱 역시 3할 타율, 28개의 도루를 기록하며 팀 타선에 힘을 불어 넣었습니다.</p>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 text-center">
								<strong>네 시즌 연속 포스트시즌 진출</strong>
								<p>넥센히어로즈는 2013시즌을 시작으로 2016시즌에도 포스트시즌에 진출하며, 4년 연속 가을야구를 경험했습니다. 약한 전력이라는 시즌 초 전망에도 불구하고 선수들은 자신의 위치에서 최선의 플레이를 보여줬고, 그 결과 돔구장 이전 첫해인 2016시즌 포스트 시즌 진출이라는 의미 있는 기록을 세웠습니다.</p>
							</div>
							<div class="col-md-5 img-cover margin-right50">
								<img class="img-cover" src="resources/images/post.jpg"/>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 img-cover margin-right50">
								<img class="img-cover" src="resources/images/sinsang.jpg"/>
							</div>
							<div class="col-md-5 text-center">
								<strong>신재영 신인왕 수상</strong>
								<p>신재영 선수가 올 시즌 최고의 활약을 펼치며 신인왕을 수상 했습니다. 넥센히어로즈가 창단 된 후 구단에서 배출한 신인왕은 2012년 서건창 이후 두 번째입니다. 시즌 초 30.2이닝 연속 무볼넷 피칭을 펼치며 모두를 깜짝 놀라게 만든 신재영은 올 시즌 30경기에 등판에 15승 7패 평균자책점 3.90을 기록, 신인왕 후보 가운데 독보적인 활약을 펼쳤습니다. 덕분에 팀 역대 최고 인상률인 307.4%의 연봉 인상률을 기록, 1억1천만원에 올 시즌 연봉 계약을 체결하며 억대 연봉에 진입하기도 했습니다.</p>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 text-center">
								<strong>서건창 골든글러브 수상</strong>
								<p>주장으로서 선수단을 이끈 서건창이 2016년 12월13일 ‘2016 골든글러브 시상식’에서 서건창은 2루수 부문 골든 글러브를 수상했습니다. 2012년, 2014년에 이어 생애 3번째 수상입니다. 서건창은 지난 시즌 140경기에 출전해 타율 0.325 182안타 26도루로 안타 전체 5위 도루 전체 6위에 이름을 올렸습니다. 서건창은 수상 소감으로“팬들의 힘이 있었기 때문에 넥센이 여기까지 달릴 수 있었다”며 열정적으로 응원해 주시는 팬 분들께 감사 인사를 전하기도 했습니다.</p>
							</div>
							<div class="col-md-5 img-cover margin-right50">
								<img class="img-cover" src="resources/images/sg.jpg"/>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 img-cover margin-right50">
								<img class="img-cover" src="resources/images/ke-iloveimg-resized.jpg"/>
							</div>
							<div class="col-md-5 text-center">
								<strong>이보근, 김세현 생애 첫 타이틀 수상</strong>
								<p>군복무를 마친 후 이보근은 2016시즌 팀에 복귀해 필승조에서 맹활약하며 5승 7패 25홀드를 기록했습니다. KBO리그 선수 가운데 가장 많은 홀드를 기록한 이보근은 데뷔 12년만에 처음으로 ‘홀드왕’이라는 개인 타이틀을 거머쥐었습니다. 풀타임 마무리 첫해를 치른 김세현은 36세이브를 기록하며 세이브왕을 수상했습니다. 150km/h 대의 강속구를 던지며 뒷문을 책임진 김세현은 부담감이 큰 중책을 맡았음에도 불구하고 2점 중반대의 평균자책점과 이닝 당 1.01개 볼넷을 기록하는 등 안정감 있는 피칭을 선보였습니다.</p>
							</div>
						</div>
						<div class="col-md-12 heroes-margin text-center">
							<div class="col-md-6 text-center">
								<strong>장정석 신임 감독 선임</strong>
								<p>넥센히어로즈는 2017시즌을 이끌어 갈 선수단의 수장으로 장정석 신임 감독을 선임했습니다. 장정석 신임 감독은 현대유니콘스-KIA타이거즈에서 선수생활을 했고, 은퇴 이후 오랜 기간 프런트로 근무하며 풍부한 경험을 쌓았습니다. 신임감독을 보좌할 수석코치에는 타격코치로 활약한 심재학 코치를 선임했습니다. 구단의 고유 시스템을 이해하고 있고, 그동안 지근거리에서 선수단을 지켜봐온 장정석 신임 감독과 오랜 코치 경험으로 선수단의 신뢰를 받고 있는 심재학 수석 코치 체재가 올 시즌 어떤 모습을 보여줄지 기대가 됩니다.</p>
							</div>
							<div class="col-md-5 img-cover margin-right50">
								<img class="img-cover" src="resources/images/jjs-iloveimg-resized.jpg"/>
							</div>
						</div>
					</div>
				<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleCustom2015()">2015 서울히어로즈 프로야구단</button>
					<div id="2015" ng-hide="custom2015">
						<p>2015</p>
					</div>
				<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleCustom2014()">2014 서울히어로즈 프로야구단</button>
					<div id="2014" ng-hide="custom2014">
						<p>2014</p>
					</div>
				<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleCustom2013()">2013 서울히어로즈 프로야구단</button>
					<div id="2013" ng-hide="custom2013">
						<p>2013</p>
					</div>
			</div>