<div class="col-md-12 heroes-margin text-center">
	<h5 id="emblem">NEXEN HEROES EMBLEM</h5>
	<div class="col-md-12 heroes-margin text-center">
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem11.jpg"/>
			<p class="pp">메인 엠블럼</p>
		</div>
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem12.jpg"/>
			<p class="pp">워드마크</p>
		</div>
	</div>
	<div class="col-md-12 heroes-margin text-center">
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem13.png"/>
			<p class="pp">한글/영문 시그니처</p>
		</div>
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem14.png"/>
			<p class="pp">히어로즈 이니셜 심볼</p>
		</div>
	</div>
	<h5 id="emblem">NEXEN HEROES EMBLEM</h5>
	<div class="col-md-12 heroes-margin text-center">
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem21.png"/>
			<p class="pp">메인 엠블럼</p>
		</div>
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem22.png"/>
			<p class="pp">워드마크</p>
		</div>
	</div>
	<div class="col-md-12 heroes-margin text-center">
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem23.png"/>
			<p class="pp">한글/영문 시그니처</p>
		</div>
		<div class="col-md-6 text-center">
			<img src="resources/images/imgEmblem24.png"/>
			<p class="pp">히어로즈 이니셜 심볼</p>
		</div>
	</div>
</div>