<div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform2016()">2016 유니폼</button>
		<div id="2016" ng-hide="uniform2016">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2016A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2016B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
				<h5 id="emblem">HWASEONG HEROES UNIFORM</h5>
				<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2016C.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2016D.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform2015()">2015 유니폼</button>
		<div id="2015" ng-hide="uniform2015">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2015A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2015B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
				<h5 id="emblem">HWASEONG HEROES UNIFORM</h5>
				<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2015C.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2015D.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform20132014()">2013/2014 유니폼</button>
		<div id="20132014" ng-hide="uniform20132014">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2013A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2013B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
				<h5 id="emblem">HWASEONG HEROES UNIFORM</h5>
				<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2013C.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2013D.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform2012()">2012 유니폼</button>
		<div id="2012" ng-hide="uniform2012">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2012A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2012B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform20102011()">2010/2011 유니폼</button>
		<div id="20102011" ng-hide="uniform20102011">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2010A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2010B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform2009()">2009 유니폼</button>
		<div id="2009" ng-hide="uniform2009">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2009A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2009B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
			</div>
		</div>
	<button type="button" class="btn btn-default btn-lg heroes-color history-display" ng-click="toggleuniform2008()">2008 유니폼</button>
		<div id="2008" ng-hide="uniform2008">
			<h5 id="emblem">NEXEN HEROES UNIFORM</h5>
			<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2008A.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2008B.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				<div class="col-md-12">
					<hr>
				</div>
				<h5 id="emblem">WOORI HEROES UNIFORM</h5>
				<div class="col-md-12 heroes-margin text-center">
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2008C.jpg"/>
					<p class="pp">홈 경기 유니폼</p>
				</div>
				<div class="col-md-6 text-center">
					<img src="resources/images/uniform/imgUniform2008D.jpg"/>
					<p class="pp">원정 경기 유니폼</p>
				</div>
				</div>
			</div>
		</div>
	
</div>