<div class="container">
	<h1 class="text-center heroes-color">히어로즈 사진</h1>
	<h5 class="text-center heroes-color heroes-margin">늘 같은 자리에서 팬 여러분과 함께 새로운 역사를 만들어 가겠습니다.</h5>
		<div class="container gallery-container">
		    <div class="tz-gallery">
		        <div class="row">
		            <div class="col-sm-6 col-md-4" data-ng-repeat="row in picture">
		                <a class="lightbox" href="{{row.pic}}">
		                    <img data-ng-src="{{row.pic}}">
		                </a>
		            </div>
			
		        </div>
		    </div>
			<script>
			setTimeout(function() { // 스크립트 읽는 시간하고 angular로 받아오는 시간 차이 때문에 2초 정도 시간을 줌
		    	baguetteBox.run('.tz-gallery');
			}, 1000);
			</script>
	</div>
</div>